vc-odt-orders/vc-odt-export-orderproducts-dynamics/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2",
        "koreacentral",
        "koreasouth",
        "francecentral",
        "francesouth",
        "uaecentral",
        "southafricanorth",
        "southafricawest"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "organizationNameParam": {
        "type": "string",
        "defaultValue": "org363c224b.crm"
    },
    "dynamicscrmonline_1_Connection_Name": {
      "type": "string",
      "defaultValue": "dynamicscrmonline-1"
    },
    "dynamicscrmonline_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "mko@virtoway.com"
    },
    "dynamicscrmonline_1_token:TenantId": {
      "type": "string",
      "metadata": {
        "description": "The tenant ID for the Azure Active Directory application"
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Response": {
              "type": "Response",
              "inputs": {
                "statusCode": 200
              },
              "runAfter": {
                "Create_a_new_orderproduct": [
                  "Succeeded"
                ]
              }
            },
            "Get_currency": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['dynamicscrmonline']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('organizationName')))}/tables/@{encodeURIComponent(encodeURIComponent('transactioncurrencies'))}/items",
                "queries": {
                  "$filter": "isocurrencycode eq '@{triggerBody()?['currency']}'"
                }
              },
              "runAfter": {}
            },
            "Create_a_new_orderproduct": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['dynamicscrmonline']['connectionId']"
                  }
                },
                "method": "post",
                "body": {
                  "salesorderdetailname": "@triggerBody()?['salesOrderNumber']",
                  "quantity": "@triggerBody()?['quantity']",
                  "_shipto_freighttermscode_label": "",
                  "_salesorderid_value": "@triggerBody()?['salesOrderId']",
                  "priceperunit": "@triggerBody()?['price']",
                  "ispriceoverridden": false,
                  "_producttypecode_label": "Product",
                  "_propertyconfigurationstatus_label": "Not Configured",
                  "isproductoverridden": false,
                  "willcall": false,
                  "productdescription": "@triggerBody()?['productName']",
                  "iscopied": false,
                  "_transactioncurrencyid_value": "@first(body('Get_currency')?['value'])?['transactioncurrencyid']",
                  "_pricingerrorcode_label": "None",
                  "productname": "@triggerBody()?['productName']",
                  "_skippricecalculation_label": "DoPriceCalcAlways"
                },
                "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('organizationName')))}/tables/@{encodeURIComponent(encodeURIComponent('salesorderdetails'))}/items"
              },
              "runAfter": {
                "Get_currency": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "organizationName": {
                "type": "string"
            }
          },
          "triggers": {
            "request": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "salesOrderId": {
                      "type": "string"
                    },
                    "salesOrderNumber": {
                      "type": "string"
                    },
                    "currency": {
                      "type": "string"
                    },
                    "productName": {
                      "type": "string"
                    },
                    "price": {
                      "type": "number"
                    },
                    "quantity": {
                      "type": "number"
                    },
                    "sku": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "dynamicscrmonline": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'dynamicscrmonline')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('dynamicscrmonline_1_Connection_Name'))]",
                "connectionName": "[parameters('dynamicscrmonline_1_Connection_Name')]"
              }
            }
          },
          "organizationName": {
            "value": "[parameters('organizationNameParam')]"
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('dynamicscrmonline_1_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('dynamicscrmonline_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'dynamicscrmonline')]"
        },
        "displayName": "[parameters('dynamicscrmonline_1_Connection_DisplayName')]",
        "nonSecretParameterValues": {
          "token:TenantId": "[parameters('dynamicscrmonline_1_token:TenantId')]"
        }
      }
    }
  ],
  "outputs": {}
}