vc-odt-orders/vc-odt-import-orders/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2",
        "koreacentral",
        "koreasouth",
        "francecentral",
        "francesouth",
        "southafricanorth",
        "southafricawest"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "passwordParam": {
      "type": "securestring"
    },
    "urlParam": {
      "type": "string"
    },
    "usernameParam": {
      "type": "securestring"
    },
    "nestedLogicAppName": {
      "type": "string",
      "defaultValue": "vc-odt-create-order"
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Initialize_ordersArray": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "ordersArray",
                    "type": "array",
                    "value": "@body('Parse_JSON')"
                  }
                ]
              },
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_storeId": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "storeId",
                    "type": "string",
                    "value": "Electronics"
                  }
                ]
              },
              "runAfter": {
                "Initialize_ordersArray": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_catalogId": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "catalogId",
                    "type": "string",
                    "value": "catalogId"
                  }
                ]
              },
              "runAfter": {
                "Initialize_storeId": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_orderItem": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "orderItem",
                    "type": "object",
                    "value": {
                      "customerId": "00000000000000000000000000000000",
                      "customerName": "",
                      "StoreId": "@{variables('storeId')}",
                      "currency": "USD",
                      "items": [
                        {
                          "price": 20.3,
                          "quantity": 10,
                          "sku": "MIUI",
                          "productType": "",
                          "name": "",
                          "currency": "USD",
                          "ProductId": "00000000000000000000000000000000",
                          "CatalogId": "@{variables('catalogId')}"
                        }
                      ],
                      "number": "",
                      "isApproved": true,
                      "status": "",
                      "isCancelled": false,
                      "createdDate": "",
                      "dynamicProperties": [
                        {
                          "name": "orderDp",
                          "values": [
                            {
                              "value": "orderDpValue"
                            }
                          ]
                        }
                      ]
                    }
                  }
                ]
              },
              "runAfter": {
                "Initialize_catalogId": [
                  "Succeeded"
                ]
              }
            },
            "For_each_new_order": {
              "type": "Foreach",
              "foreach": "@body('Filter_new_orders')",
              "actions": {
                "Set_orderItem": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "orderItem",
                    "value": {
                      "connection": {
                        "endpointUrl": "@parameters('endpointUrl')",
                        "accessToken": "@body('Parse_token_JSON')?['access_token']"
                      },
                      "order": {
                        "customerId": "@{items('For_each_new_order')?['order']?['customerId']}",
                        "customerName": "@{items('For_each_new_order')?['order']?['customerName']}",
                        "StoreId": "@{variables('storeId')}",
                        "currency": "@{items('For_each_new_order')?['order']?['currency']}",
                        "number": "@{items('For_each_new_order')?['order']?['number']}",
                        "status": "@{items('For_each_new_order')?['order']?['status']}",
                        "createdDate": "@{items('For_each_new_order')?['order']?['createdDate']}",
                        "items": "@variables('productItemsArray')",
                        "dynamicProperties": "@items('For_each_new_order')?['order']?['dynamicProperties']"
                      }
                    }
                  },
                  "runAfter": {
                    "For_each_productItem": [
                      "Succeeded"
                    ]
                  }
                },
                "For_each_productItem": {
                  "type": "Foreach",
                  "foreach": "@items('For_each_new_order')['products']",
                  "actions": {
                    "Append_to_productItemsArray": {
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "productItemsArray",
                        "value": {
                          "price": "@items('For_each_productItem')?['price']",
                          "quantity": "@items('For_each_productItem')?['quantity']",
                          "sku": "@items('For_each_productItem')?['sku']",
                          "name": "@items('For_each_productItem')?['name']",
                          "currency": "@items('For_each_productItem')?['currency']",
                          "ProductId": "00000000000000000000000000000000",
                          "CatalogId": "@{variables('catalogId')}",
                          "dynamicProperties": "@items('For_each_productItem')?['dynamicProperties']"
                        }
                      },
                      "runAfter": {}
                    }
                  },
                  "runAfter": {
                    "Set_productItemArray_empty": [
                      "Succeeded"
                    ]
                  }
                },
                "Set_productItemArray_empty": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "productItemsArray",
                    "value": []
                  },
                  "runAfter": {}
                },
                "vc-odt-create-order": {
                  "type": "Workflow",
                  "inputs": {
                    "host": {
                      "triggerName": "request",
                      "workflow": {
                        "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Logic/workflows/', parameters('nestedLogicAppName'))]"
                      }
                    },
                    "body": "@variables('orderItem')"
                  },
                  "runAfter": {
                    "Set_orderItem": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "runAfter": {
                "Filter_new_orders": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 1
                }
              }
            },
            "Initialize_productItemsArray": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "productItemsArray",
                    "type": "array"
                  }
                ]
              },
              "runAfter": {
                "Initialize_orderItem": [
                  "Succeeded"
                ]
              }
            },
            "Response": {
              "type": "Response",
              "kind": "http",
              "inputs": {
                "statusCode": 200,
                "body": "Orders successfully imported"
              },
              "runAfter": {
                "For_each_new_order": [
                  "Succeeded"
                ]
              }
            },
            "Parse_JSON": {
              "type": "ParseJson",
              "inputs": {
                "content": "@triggerBody()",
                "schema": {
                  "items": {
                    "properties": {
                      "order": {
                        "properties": {
                          "createdDate": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "customerId": {
                            "type": "string"
                          },
                          "customerName": {
                            "type": "string"
                          },
                          "dynamicProperties": {
                            "items": {
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "values": {
                                  "items": {
                                    "properties": {
                                      "value": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "value"
                                    ],
                                    "type": "object"
                                  },
                                  "type": "array"
                                }
                              },
                              "required": [
                                "name",
                                "values"
                              ],
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "number": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "products": {
                        "items": {
                          "properties": {
                            "currency": {
                              "type": "string"
                            },
                            "dynamicProperties": {
                              "items": {
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "values": {
                                    "items": {
                                      "properties": {
                                        "value": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "value"
                                      ],
                                      "type": "object"
                                    },
                                    "type": "array"
                                  }
                                },
                                "required": [
                                  "name",
                                  "values"
                                ],
                                "type": "object"
                              },
                              "type": "array"
                            },
                            "name": {
                              "type": "string"
                            },
                            "price": {
                              "type": "number"
                            },
                            "quantity": {
                              "type": "integer"
                            },
                            "sku": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "currency",
                            "dynamicProperties",
                            "name",
                            "price",
                            "quantity",
                            "sku"
                          ],
                          "type": "object"
                        },
                        "type": "array"
                      }
                    },
                    "required": [
                      "order",
                      "products"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "runAfter": {}
            },
            "Initialize_newOrdersArray": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "newOrdersArray",
                    "type": "array"
                  }
                ]
              },
              "runAfter": {
                "Initialize_productItemsArray": [
                  "Succeeded"
                ]
              }
            },
            "OrderModule_Search": {
              "type": "Http",
              "inputs": {
                "method": "post",
                "body": {
                  "numbers": "@variables('inputOrderNumbersArray')"
                },
                "headers": {
                  "Authorization": "Bearer @{body('Parse_token_JSON')?['access_token']} ",
                  "Content-Type": "application/json"
                },
                "uri": "@concat(parameters('endpointUrl'),'api/order/customerOrders/search')"
              },
              "runAfter": {
                "Parse_token_JSON": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "apiDefinitionUrl": "@concat(parameters('endpointUrl'),'docs/VirtoCommerce.Orders/swagger.json')",
                "swaggerSource": "custom"
              }
            },
            "Select_input_order_numbers": {
              "type": "Select",
              "inputs": {
                "from": "@variables('ordersArray')",
                "select": {
                  "number": "@item()?['order']?['number']"
                }
              },
              "runAfter": {
                "For_each_input_order": [
                  "Succeeded"
                ]
              }
            },
            "Select_exist_order_numbers": {
              "type": "Select",
              "inputs": {
                "from": "@body('OrderModule_Search')?['customerOrders']",
                "select": {
                  "number": "@item()?['number']"
                }
              },
              "runAfter": {
                "OrderModule_Search": [
                  "Succeeded"
                ]
              }
            },
            "Filter_new_orders": {
              "type": "Query",
              "inputs": {
                "from": "@variables('ordersArray')",
                "where": "@equals(contains(body('Select_exist_order_numbers'), json(concat('{number:\"', item()?['order']?['number'], '\"}'))), false)"
              },
              "runAfter": {
                "Select_exist_order_numbers": [
                  "Succeeded"
                ]
              }
            },
            "HTTP_get_token": {
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "@{concat(parameters('endpointUrl'),'connect/token')}",
                "headers": {
                  "Content-Type": "application/x-www-form-urlencoded"
                },
                "body": "@concat('grant_type=password&password=',encodeUriComponent(parameters('endpointPassword')),'&username=',encodeUriComponent(parameters('endpointUsername')))"
              },
              "runAfter": {
                "Select_input_order_numbers": [
                  "Succeeded"
                ]
              }
            },
            "Parse_token_JSON": {
              "type": "ParseJson",
              "inputs": {
                "content": "@body('HTTP_get_token')",
                "schema": {
                  "properties": {
                    "access_token": {
                      "type": "string"
                    },
                    "expires_in": {
                      "type": "integer"
                    },
                    "token_type": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "runAfter": {
                "HTTP_get_token": [
                  "Succeeded"
                ]
              }
            },
            "For_each_input_order": {
              "type": "Foreach",
              "foreach": "@variables('ordersArray')",
              "actions": {
                "Append_to_array_variable": {
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "inputOrderNumbersArray",
                    "value": "@items('For_each_input_order')?['order']['number']"
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "Initialize_variable": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_variable": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "inputOrderNumbersArray",
                    "type": "array"
                  }
                ]
              },
              "runAfter": {
                "Initialize_newOrdersArray": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "endpointPassword": {
              "type": "securestring"
            },
            "endpointUrl": {
              "type": "string"
            },
            "endpointUsername": {
              "type": "securestring"
            }
          },
          "triggers": {
            "request": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "order": {
                        "type": "object",
                        "properties": {
                          "customerId": {
                            "type": "string"
                          },
                          "customerName": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "number": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "createdDate": {
                            "type": "string"
                          },
                          "dynamicProperties": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "values": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "value": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "value"
                                    ]
                                  }
                                }
                              },
                              "required": [
                                "name",
                                "values"
                              ]
                            }
                          }
                        }
                      },
                      "products": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "price": {
                              "type": "number"
                            },
                            "quantity": {
                              "type": "integer"
                            },
                            "sku": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "currency": {
                              "type": "string"
                            },
                            "dynamicProperties": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "values": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "value"
                                      ]
                                    }
                                  }
                                },
                                "required": [
                                  "name",
                                  "values"
                                ]
                              }
                            }
                          },
                          "required": [
                            "price",
                            "quantity",
                            "sku",
                            "name",
                            "currency",
                            "dynamicProperties"
                          ]
                        }
                      }
                    },
                    "required": [
                      "order",
                      "products"
                    ]
                  }
                },
                "method": "POST"
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "endpointPassword": {
            "value": "[parameters('passwordParam')]"
          },
          "endpointUsername": {
            "value": "[parameters('usernameParam')]"
          },
          "endpointUrl": {
            "value": "[parameters('urlParam')]"
          }
        }
      }
    }
  ],
  "outputs": {}
}