vc-odt-orders/vc-odt-export-order-dynamics/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2",
        "koreacentral",
        "koreasouth",
        "francecentral",
        "francesouth",
        "uaecentral",
        "southafricanorth",
        "southafricawest"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "organizationNameParam": {
        "type": "string",
        "defaultValue": "org363c224b.crm"
    },
    "dynamicscrmonline_1_Connection_Name": {
      "type": "string",
      "defaultValue": "dynamicscrmonline-1"
    },
    "dynamicscrmonline_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "mko@virtoway.com"
    },
    "dynamicscrmonline_1_token:TenantId": {
      "type": "string",
      "metadata": {
        "description": "The tenant ID for the Azure Active Directory application"
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Response": {
              "type": "Response",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "salesOrderId": "@variables('salesOrderId')"
                }
              },
              "runAfter": {
                "Condition": [
                  "Succeeded"
                ]
              }
            },
            "Get_currency": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['dynamicscrmonline']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('organizationName')))}/tables/@{encodeURIComponent(encodeURIComponent('transactioncurrencies'))}/items",
                "queries": {
                  "$filter": "isocurrencycode eq '@{triggerBody()?['currency']}'"
                }
              },
              "runAfter": {
                "Initialize_salesOrderId": [
                  "Succeeded"
                ]
              }
            },
            "List_orders": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['dynamicscrmonline']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('organizationName')))}/tables/@{encodeURIComponent(encodeURIComponent('salesorders'))}/items",
                "queries": {
                  "$filter": "name eq '@{triggerBody()?['number']}'"
                }
              },
              "runAfter": {
                "Get_currency": [
                  "Succeeded"
                ]
              }
            },
            "Condition": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@empty(body('List_orders')?['value'])",
                      "@true"
                    ]
                  }
                ]
              },
              "actions": {
                "Create_a_new_order": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['dynamicscrmonline']['connectionId']"
                      }
                    },
                    "method": "post",
                    "body": {
                      "_customerid_type": "accounts",
                      "_customerid_value": "@triggerBody()?['_customerid_value']",
                      "_freighttermscode_label": "",
                      "_ownerid_type": "",
                      "_paymenttermscode_label": "",
                      "_pricelevelid_value": null,
                      "_pricingerrorcode_label": "None",
                      "_prioritycode_label": "Default Value",
                      "_shippingmethodcode_label": "",
                      "_shipto_freighttermscode_label": "Default Value",
                      "_skippricecalculation_label": "DoPriceCalcAlways",
                      "_statuscode_label": "",
                      "_transactioncurrencyid_value": "@{first(body('Get_currency')?['value'])?['transactioncurrencyid']}",
                      "ispricelocked": false,
                      "name": "@triggerBody()?['number']",
                      "new_exported": false,
                      "totalamount": "@{float(triggerBody()?['totalamount'])}",
                      "willcall": false
                    },
                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('organizationName')))}/tables/@{encodeURIComponent(encodeURIComponent('salesorders'))}/items"
                  },
                  "runAfter": {}
                },
                "Set_new_salesOrderId": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "salesOrderId",
                    "value": "@body('Create_a_new_order')?['salesorderid']"
                  },
                  "runAfter": {
                    "Create_a_new_order": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "runAfter": {
                "List_orders": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Set_salesOrderId": {
                    "type": "SetVariable",
                    "inputs": {
                      "name": "salesOrderId",
                      "value": "@{first(body('List_orders')?['value'])?['salesorderid']}"
                    },
                    "runAfter": {}
                  }
                }
              }
            },
            "Initialize_salesOrderId": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "salesOrderId",
                    "type": "string"
                  }
                ]
              },
              "runAfter": {}
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "organizationName": {
                "type": "string"
            }
          },
          "triggers": {
            "request": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_customerid_value": {
                      "type": "string"
                    },
                    "currency": {
                      "type": "string"
                    },
                    "number": {
                      "type": "string"
                    },
                    "totalamount": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "dynamicscrmonline": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'dynamicscrmonline')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('dynamicscrmonline_1_Connection_Name'))]",
                "connectionName": "[parameters('dynamicscrmonline_1_Connection_Name')]"
              }
            }
          },
          "organizationName": {
            "value": "[parameters('organizationNameParam')]"
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('dynamicscrmonline_1_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('dynamicscrmonline_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'dynamicscrmonline')]"
        },
        "displayName": "[parameters('dynamicscrmonline_1_Connection_DisplayName')]",
        "nonSecretParameterValues": {
          "token:TenantId": "[parameters('dynamicscrmonline_1_token:TenantId')]"
        }
      }
    }
  ],
  "outputs": {}
}