vc-odt-import-orders/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2",
        "koreacentral",
        "koreasouth",
        "francecentral",
        "francesouth",
        "southafricanorth",
        "southafricawest"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Initialize_ordersArray": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "ordersArray",
                    "type": "array",
                    "value": "@body('Parse_JSON')"
                  }
                ]
              },
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_storeId": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "storeId",
                    "type": "string",
                    "value": "Electronics"
                  }
                ]
              },
              "runAfter": {
                "Initialize_ordersArray": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_catalogId": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "catalogId",
                    "type": "string",
                    "value": "catalogId"
                  }
                ]
              },
              "runAfter": {
                "Initialize_storeId": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_orderItem": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "orderItem",
                    "type": "object",
                    "value": {
                      "customerId": "00000000000000000000000000000000",
                      "customerName": "",
                      "StoreId": "@{variables('storeId')}",
                      "currency": "USD",
                      "items": [
                        {
                          "price": 20.3,
                          "quantity": 10,
                          "sku": "MIUI",
                          "productType": "",
                          "name": "",
                          "currency": "USD",
                          "ProductId": "00000000000000000000000000000000",
                          "CatalogId": "@{variables('catalogId')}"
                        }
                      ],
                      "number": "",
                      "isApproved": true,
                      "status": "",
                      "isCancelled": false,
                      "createdDate": "",
                      "dynamicProperties": [
                        {
                          "name": "orderDp",
                          "values": [
                            {
                              "value": "orderDpValue"
                            }
                          ]
                        }
                      ]
                    }
                  }
                ]
              },
              "runAfter": {
                "Initialize_catalogId": [
                  "Succeeded"
                ]
              }
            },
            "For_each_order": {
              "type": "Foreach",
              "foreach": "@variables('ordersArray')",
              "actions": {
                "Set_orderItem": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "orderItem",
                    "value": {
                      "customerId": "@{items('For_each_order')?['order']?['customerId']}",
                      "customerName": "@{items('For_each_order')?['order']?['customerName']}",
                      "StoreId": "@{variables('storeId')}",
                      "currency": "@{items('For_each_order')?['order']?['currency']}",
                      "number": "@{items('For_each_order')?['order']?['number']}",
                      "status": "@{items('For_each_order')?['order']?['status']}",
                      "createdDate": "@{items('For_each_order')?['order']?['createdDate']}",
                      "items": "@variables('productItemsArray')",
                      "dynamicProperties": "@items('For_each_order')?['order']?['dynamicProperties']"
                    }
                  },
                  "runAfter": {
                    "For_each_productItem": [
                      "Succeeded"
                    ]
                  }
                },
                "For_each_productItem": {
                  "type": "Foreach",
                  "foreach": "@items('For_each_order')['products']",
                  "actions": {
                    "Append_to_productItemsArray": {
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "productItemsArray",
                        "value": {
                          "price": "@items('For_each_productItem')?['price']",
                          "quantity": "@items('For_each_productItem')?['quantity']",
                          "sku": "@items('For_each_productItem')?['sku']",
                          "name": "@items('For_each_productItem')?['name']",
                          "currency": "@items('For_each_productItem')?['currency']",
                          "ProductId": "00000000000000000000000000000000",
                          "CatalogId": "@{variables('catalogId')}",
                          "dynamicProperties": "@items('For_each_productItem')?['dynamicProperties']"
                        }
                      },
                      "runAfter": {}
                    }
                  },
                  "runAfter": {
                    "Set_productItemArray_empty": [
                      "Succeeded"
                    ]
                  }
                },
                "Set_productItemArray_empty": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "productItemsArray",
                    "value": []
                  },
                  "runAfter": {}
                },
                "vc-odt-create-order": {
                  "type": "Workflow",
                  "inputs": {
                    "host": {
                      "triggerName": "request",
                      "workflow": {
                        "id": "/subscriptions/865280ac-6a6b-46b2-a9cd-278d963787db/resourceGroups/vc-odt-import-orders/providers/Microsoft.Logic/workflows/vc-odt-create-order"
                      }
                    },
                    "body": "@{variables('orderItem')}"
                  },
                  "runAfter": {
                    "Set_orderItem": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "runAfter": {
                "Initialize_productItemsArray": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 1
                }
              }
            },
            "Initialize_productItemsArray": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "productItemsArray",
                    "type": "array"
                  }
                ]
              },
              "runAfter": {
                "Initialize_orderItem": [
                  "Succeeded"
                ]
              }
            },
            "Response": {
              "type": "Response",
              "kind": "http",
              "inputs": {
                "statusCode": 200,
                "body": "Orders successfully imported"
              },
              "runAfter": {
                "For_each_order": [
                  "Succeeded"
                ]
              }
            },
            "Parse_JSON": {
              "type": "ParseJson",
              "inputs": {
                "content": "@triggerBody()",
                "schema": {
                  "items": {
                    "properties": {
                      "order": {
                        "properties": {
                          "createdDate": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "customerId": {
                            "type": "string"
                          },
                          "customerName": {
                            "type": "string"
                          },
                          "dynamicProperties": {
                            "items": {
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "values": {
                                  "items": {
                                    "properties": {
                                      "value": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "value"
                                    ],
                                    "type": "object"
                                  },
                                  "type": "array"
                                }
                              },
                              "required": [
                                "name",
                                "values"
                              ],
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "number": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "products": {
                        "items": {
                          "properties": {
                            "currency": {
                              "type": "string"
                            },
                            "dynamicProperties": {
                              "items": {
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "values": {
                                    "items": {
                                      "properties": {
                                        "value": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "value"
                                      ],
                                      "type": "object"
                                    },
                                    "type": "array"
                                  }
                                },
                                "required": [
                                  "name",
                                  "values"
                                ],
                                "type": "object"
                              },
                              "type": "array"
                            },
                            "name": {
                              "type": "string"
                            },
                            "price": {
                              "type": "number"
                            },
                            "quantity": {
                              "type": "integer"
                            },
                            "sku": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "currency",
                            "dynamicProperties",
                            "name",
                            "price",
                            "quantity",
                            "sku"
                          ],
                          "type": "object"
                        },
                        "type": "array"
                      }
                    },
                    "required": [
                      "order",
                      "products"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "runAfter": {}
            }
          },
          "parameters": {},
          "triggers": {
            "request": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "order": {
                        "type": "object",
                        "properties": {
                          "customerId": {
                            "type": "string"
                          },
                          "customerName": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "number": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "createdDate": {
                            "type": "string"
                          },
                          "dynamicProperties": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "values": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "value": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "value"
                                    ]
                                  }
                                }
                              },
                              "required": [
                                "name",
                                "values"
                              ]
                            }
                          }
                        }
                      },
                      "products": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "price": {
                              "type": "number"
                            },
                            "quantity": {
                              "type": "integer"
                            },
                            "sku": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "currency": {
                              "type": "string"
                            },
                            "dynamicProperties": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "values": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "value"
                                      ]
                                    }
                                  }
                                },
                                "required": [
                                  "name",
                                  "values"
                                ]
                              }
                            }
                          },
                          "required": [
                            "price",
                            "quantity",
                            "sku",
                            "name",
                            "currency",
                            "dynamicProperties"
                          ]
                        }
                      }
                    },
                    "required": [
                      "order",
                      "products"
                    ]
                  }
                },
                "method": "POST"
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {}
      }
    }
  ],
  "outputs": {}
}